@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

body,
#root {
    /* background-image: url("./images/background.jpg");
    background-repeat: no-repeat;
    background-size: contain; */
    background-color: #f0f8ff;
}

#blank {
    color: #f0f8ff
}